/* Colours */
@layer theme {
  [data-theme="dark"] {
    background-color: black;
    color: white;
  }

  [data-theme="light"] {
    background-color: white;
    color: black;
  }

  [data-theme="gray-1"] {
    background-color: #f5f5f5;
    color: black;
  }

  [data-theme="gray-2"] {
    background-color: #ebebeb;
    color: black;
  }

  [data-theme="gray-3"] {
    background-color: #d6d6d6;
    color: black;
  }
  :root {
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-tertiary: #6c757d;
    --color-info: #17a2b8;
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-error: #dc3545;
    --color-gray-1: #f5f5f5;
    --color-gray-2: #ebebeb;
    --color-gray-3: #d6d6d6;
    --color-black: #000000;
    --color-white: #ffffff;
  }
}
