/* Colours */
@layer theme {
  :root {
    --primary: #0067cf;
    --primary-hover: #003e7c;
    --primary-fade: rgba(0, 60, 255, 0.096);
    --secondary: #9e28ed;
    --tertiary: #6c757d;
    --info: #17a2b8;
    --success: #28a745;
    --warning: #ffc107;
    --danger: #dc3545;
    --error: #dc3545;
    --gray-1: #f5f5f5;
    --gray-2: #ebebeb;
    --gray-3: #d6d6d6;
    --black: #000000;
    --white: #ffffff;
  }

  /* dark-mode */
  @media (prefers-color-scheme: dark) {
    :root {
      --primary: #0d6efd;
      --primary-hover: #0a58ca;
      --primary-fade: rgba(13, 110, 253, 0.096);
      --secondary: #9e28ed;
      --tertiary: #6c757d;
      --info: #17a2b8;
      --success: #28a745;
      --warning: #ffc107;
      --danger: #dc3545;
      --error: #dc3545;
      --gray-1: #f5f5f5;
      --gray-2: #ebebeb;
      --gray-3: #d6d6d6;
      --black: #000000;
      --white: #ffffff;
    }
  }

  /* light-mode */
  @media (prefers-color-scheme: light) {
    :root {
      --primary: #0067cf;
      --primary-hover: #003e7c;
      --primary-fade: rgba(0, 60, 255, 0.096);
      --secondary: #9e28ed;
      --tertiary: #6c757d;
      --info: #17a2b8;
      --success: #28a745;
      --warning: #ffc107;
      --danger: #dc3545;
      --error: #dc3545;
      --gray-1: #f5f5f5;
      --gray-2: #ebebeb;
      --gray-3: #d6d6d6;
      --black: #000000;
      --white: #ffffff;
    }
  }

  /* high-contrast-mode */
  @media (prefers-color-scheme: high-contrast) {
    :root {
      --primary: #007bff;
      --primary-hover: #0056b3;
      --primary-fade: rgba(0, 123, 255, 0.096);
      --secondary: #9e28ed;
      --tertiary: #6c757d;
      --info: #17a2b8;
      --success: #28a745;
      --warning: #ffc107;
      --danger: #dc3545;
      --error: #dc3545;
      --gray-1: #f5f5f5;
      --gray-2: #ebebeb;
      --gray-3: #d6d6d6;
      --black: #000000;
      --white: #ffffff;
    }
  }

}
